<form [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <div class="card-body-content">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="form-group">
              <div class="checkbox-wrapper">
                <input type="checkbox" value="false" formControlName="itemIsCompleted">Mark as Done
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="itemTitle" (blur)="valueChangeHandler()"
                autocomplete="off" placeholder="Title (required)" required>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="form-group">
              <kendo-datepicker class="form-control" formControlName="itemEndDate" (valueChange)="valueChangeHandler()"
                [min]="minDate" required ngDefaultControl>
              </kendo-datepicker>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 mb-12">
            <div class="form-group">
              <input type="text" class="form-control" id="form_style" formControlName="itemDescription"
                autocomplete="off" placeholder="Description">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="card">
  <div class="card-body">
    <div class="card-body-content">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-12">
          <app-common-buttons [primaryTitle]="PRIMARY_BTN" [secondaryTitle]="SECONDARY_BTN"
            [disablePrimaryBtn]="disablePrimaryBtn" (primaryBtnEmitted)="updateToDo()" (secondaryBtnEmitted)="cancel()">
          </app-common-buttons>
        </div>
      </div>
    </div>
  </div>
</div>
