html{
  background-color: var(--html-background-color);
}

body{
  background-color: var(--body-background-color) !important;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  margin: 0px;
}

.app-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  display: grid; /*flex is for laying out single columns-one dimensional positioning*/
  grid-template-columns: auto;
  grid-template-rows: var(--header-height) auto var(--footer-height); //footer is only for test
  grid-template-areas: "hd"
                       "main"
                       "ft";

  .header{
    background-color: var(--page-header-background-color);
    grid-area: hd;
    z-index: var(--header-index);
    box-shadow: var(--header-box-shadow);
    border-radius: 2px;
    margin: var(--header-margin);
    padding: var(--header-padding);

    img{
      width: 30px;
    }
  }

  .main-layout{
    background-color: var(--main-layout-background-color);
    /*box-shadow: var(--main-layout-box-shadow);
    border-radius: 2px;*/
    grid-area: main;
    z-index: var(--sidebar-index);

    .card{
      background-color: var(--card-background-color);
      z-index: var(--card-index);
      box-shadow: var(--card-box-shadow);
      border-radius: 2px;
      margin: var(--card-margin);
      padding: var(--card-padding);

      .card-header{
        background-color: var(--card-header-background-color);
        padding: var(--card-padding);
        box-shadow: var(--card-box-shadow);
        border-radius: 2px;
        color: #ffffff;
        margin: var(--card-margin);
        text-align: center;
      }

      .card-body{
        padding: var(--card-padding);
        margin: var(--card-margin);

        hr{
          margin: 15px 0px 0px 0px; 
        }
        .card-body-content{
          border-radius: 2px;

          .checkbox{
            text-align: center;
          }
        }
      }
    }
  }

  .footer{
    background-color: var(--page-footer-background-color);
    grid-area: ft;
    border-radius: 2px;
    margin: var(--header-margin);
  }
}
