body {
  --html-background-color: #335533;
  --body-background-color: #f8f8fa;
  --page-header-background-color: #f8f8fb;
  --sidebar-background-color:#f8f8fb;
  --main-layout-background-color:transparent;
  --card-background-color:#f8f8fb;
  --card-header-background-color:#8f616d;
  --page-footer-background-color:#ffffff;

  --header-color: linear-gradient(rgb(243, 243, 243), rgb(226, 226, 226));
  --footer-color: rgb(42, 39, 37);
  //--sidebar-color: linear-gradient(to right, rgb(58, 54, 51) 93%, rgb(42, 39, 37) 100%);
  --sidebar-color:#001b38;
  --sidebar-navigation-submenu: #001b38;
  --sidebar-navigation-menu-hover: rgba(100, 100, 100, 0.4);

  --selected-text-color: rgb(175, 175, 175);
  --font-color-footer: rgb(255, 255, 255);
  --font-color-sidebar: rgb(192, 187, 183);;
  --font-color-sidebar-highlight: rgb(255, 255, 255);

  --sidebar-width: 250px;
  --sidebar-height: 94.5%;
  --sidebar-index: 2;
  --sidebar-padding: 10px;
  --sidebar-margin: 5px 0px 5px 5px;
  --sidebar-box-shadow: 2px 3px 0px 0px rgba(0.1, 0.1, 0.1, 0.1);

  --user-preferences-height: 180px;

  --header-height: 5%;
  --header-width: 100%;
  --header-index: 3;
  --header-padding: 0px;
  --header-margin: 5px 5px 0px 5px;
  --header-box-shadow: 2px 2px 0px 0px rgba(0.1, 0.1, 0.1, 0.1);

  --main-layout-height: 100%;
  --main-layout-width: 100%;
  --main-layout-index: 2;
  --main-layout-padding: 0px 10px 0px 10px;
  --main-layout-margin: 0px 5px 0px 5px;
  --main-layout-box-shadow:  2px 3px 0px 0px rgba(0.1, 0.1, 0.1, 0.1);

  --card-height: 100%;
  --card-width: 100%;
  --card-index: 3;
  --card-padding: 5px;
  --card-margin: 5px;
  --card-box-shadow:  2px 3px 0px 0px rgba(0.1, 0.1, 0.1, 0.1);
  --card-header-animate-left: translateX(-15px);
  --card-header-animate-right: translateX(15px);

  --outlet-header-height: 43px;
  --footer-height: 3%;
  --header-icon-size: 30px;

  --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --font-color: rgb(51, 51, 51);
  --font-size: 14px !important;
}
